<div class="owner-box" style="background-image:url('<%= owner.avatar_url %>')">
  <a href="/owner/<%= owner.id %>">
  <!-- <img class="owner-avatar" src="<%= owner.avatar_url %>"> -->
  <h2 class="listContent">
    <%= owner.username %>
  </h2>
  </a>
  <h4 class="owner-name">
    <%= owner.name %>
  </h4>
</div>
