<div class="puppy-card">
  <div class="puppy-box">
    <a href="/pet/<%=pup.id%>">
    <img class="pup-pic"src="<%= pup.avatar_url %>">
      <h2><%= pup.name %></h2>
    </a>
    <div>
    <h4>Breed: <%= pup.breed %></h4>
    <h4>Age: <%= pup.age %> yrs</h4>
    <% if (pup.sex == 'male' || pup.sex == 'Male') {%>
      <h4> Boy </h4>
    <% } else  { %>
      <h4> Girl </h4>
    <% } %>
    <% if (pup.neutered == true) {%>
      <h4> Neutered </h4>
    <% } else  { %>
      <h4> Not Neutered </h4>
    <% } %>
    </div>
  </div>
</div>