<!DOCTYPE html>
<html lang="en">
  <head>
    <title></title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href='https://fonts.googleapis.com/css?family=Roboto:400,500,300' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Roboto+Slab:400,300,700' rel='stylesheet' type='text/css'>
    <link href="/styles/build/main.css" rel="stylesheet">
  </head>
  <body>
    <script src="/socket.io/socket.io.js"></script>


    <% include partials/_navbar.ejs %>
    <div class="registerdiv">
      <p><%= event.title %></p>
      <p><%= event.location%></p>
      <p><%= event.date_time%></p>
      <p>Attending Owners</p>
      <p>Attending Pups</p>
      <p><%= event.status%></p>
      <p><%= event.description %></p>


      <div id="react-root">

      </div>
    </div>

    <% if (process.env.NODE_ENV === 'production') { %>
      <script src="/scripts/chat.js"></script>
    <% } else { %>
      <script src="http://localhost:10001/chat.js"></script>
    <% } %>

  </body>
</html>