<!DOCTYPE html>
<html lang="en">
<head>
  <title>Pup-Pals</title>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link href='https://fonts.googleapis.com/css?family=Roboto:400,500,300' rel='stylesheet' type='text/css'>
  <link href="https://fonts.googleapis.com/css?family=Roboto+Slab:300,400,700" rel="stylesheet">
  <!-- Bootstrap core CSS -->
  <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" />
  <link href="/styles/style.css" rel="stylesheet">
  <link href="/styles/main.css" rel="stylesheet">
  <link rel="icon" href="/styles/pictures/dog-paw.png" type="image/png">
</head>
<body>
  <% include partials/_navbar.ejs %>
  <div class="event_detail_container">
    <div class="container">
      <div class="row">
        <div class="col-md-3 text-center">
          <div class="left_sidebar">
            <h3>Pup-pals attending</h3>
            <div class="seperator"></div>
            <div>
              <% users.forEach((item) => {%>
                <% include partials/_event_goer.ejs %>
                <%if(item.pups.length != 0){%>
                  <p>And their pups</p>
                  <% item.pups.forEach((item) => {%>
                    <% include partials/_event_pup.ejs %>
                  <% })%>
                <%}%>
              <div class="seperator"></div>
              <% })%>
            </div>
          </div>
        </div>
        <div class="col-md-6 text-left">
          <img class="map" src=<%=mapUrl%> />
          <h2 class="detail-title"><%= events.title %>&nbsp;&nbsp;&nbsp;&nbsp;
            <%if(user){%>
              <%if(!rsvped){%>
                <form class="detail-rsvp" action="/events/<%=id%>" method="POST" >
                  <button type="submit" class="btn btn-primary">Going</button>
                </form>
              <%}else{%>
                <form class="detail-rsvp" action="/events/<%=id%>/cancel" method="POST" >
                  <button type="submit" class="btn btn-danger">Can't Go</button>
                </form>
              <%}%>
            <% } %>
          </h2>
          <div class="seperator"></div>
          <h3><i class="fa fa-calendar-o" aria-hidden="true"></i> Date: <%= moment(events.date_time).format("dddd MMMM Do YYYY") %></h3>
          <div class="seperator"></div>
          <h3><i class="fa fa-clock-o" aria-hidden="true"></i> Time: <%= moment(events.date_time).format("h:mm a") %></h3>
          <div class="seperator"></div>
          <h3><i class="fa fa-map-marker" aria-hidden="true"></i> Location: <%= events.location%></h3>
          <div class="seperator"></div>
          <%if (events.event_restriction) { %>
            <h4><i class="fa fa-ban" aria-hidden="true"></i> Restrictions: <%= events.event_restriction%></h4>
          <div class="seperator"></div>
          <% } %>
          <h3><i class="fa fa-sticky-note" aria-hidden="true"></i> Description:<h3> <h4><%= events.description %></h4>
          <br>
        </div>
        <div class="col-md-3 text-center">
          <div class="detail_right_sidebar">
            <h3>Message Board</h3>
            <div class="seperator"></div>
            <div class="chat-container">
              <% if (message) { %>
                <p><%= message %></p>
              <% } %>
              <div id="react-root">
              </div>
                <script src="/chat.js"></script>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</body>
</html>